<div class="report-section my-6">
  <%= render Report::SectionHeadingComponent.new(title: @title, column_labels: @column_labels) %>
  <% if !@data_available %>
    <p class="text-sm text-gray-400 italic">Data not available</p>
  <% elsif rows? %>
    <table class="w-full text-sm">
      <% @rows.each do |row| %>
        <tr class="border-b border-gray-100 last:border-0">
          <td class="py-1.5 pr-4 text-gray-500 w-1/2"><%= row[:label] %></td>
          <td class="py-1.5 font-medium text-gray-800"><%= row[:value] %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <%= content %>
  <% end %>
</div>
