<button type="button"
        id="<%= @id %>"
        class="<%= button_classes %>"
        data-filter-value="<%= @value %>"
        data-action="click->filter#toggleRateTier"><%= @label %></button>
